[submodule "hellen-one"]
	path = hellen-one
	url = https://github.com/andreika-git/hellen-one
[submodule "hellen121vag"]
	path = hellen121vag
	url = https://github.com/rusefi/hellen121vag
[submodule "hellen81"]
	path = hellen81
	url = https://github.com/andreika-git/hellen81
[submodule "commerial_products/hellen_NB1"]
	path = commercial_products/hellen_NB1
	url = https://github.com/rusefi/hellen-NB1
[submodule "commerial_products/hellen55bmw"]
	path = commercial_products/hellen55bmw
	url = https://github.com/rusefi/hellen55bmw
[submodule "commerial_products/hellen134bmw"]
	path = commercial_products/hellen134bmw
	url = https://github.com/rusefi/hellen134bmw
[submodule "commerial_products/hellen88bmw"]
	path = commercial_products/hellen88bmw
	url = https://github.com/rusefi/hellen88bmw
[submodule "commerial_products/hellen128mercedes"]
	path = commercial_products/hellen128mercedes
	url = https://github.com/rusefi/hellen128mercedes
[submodule "commerial_products/hellen121nissan"]
	path = commercial_products/hellen121nissan
	url = https://github.com/rusefi/hellen121nissan
[submodule "commerial_products/hellen72"]
	path = commercial_products/hellen_NB2
	url = https://github.com/rusefi/hellen-NB2/
[submodule "commerial_products/hellen_NA6_94"]
	path = commercial_products/hellen_NA6_94
	url = https://github.com/rusefi/hellen64_miataNA6_94/
[submodule "commerial_products/hellen154hyundai"]
	path = commercial_products/hellen154hyundai
	url = https://github.com/rusefi/hellen154hyundai
[submodule "commerial_products/hellen154gdi_vag"]
	path = commercial_products/hellen154gdi_vag
	url = https://github.com/rusefi/hellen154vag-9.1
[submodule "commercial_products/hellen125honda"]
	path = commercial_products/hellen125honda
	url = https://github.com/rusefi/hellen125honda
[submodule "commercial_products/hellen64_NA8_96"]
	path = commercial_products/hellen_NA8_96
	url = https://github.com/rusefi/hellen-NA8-96
